.AboutContainer {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: all 0.4s ease;
  color: #15186d;
  font-weight: 400;

  & .AboutContentContainer {
    width: 50%;
    margin: 200px auto;

    p {
      margin-bottom: 20px;
      line-height: 36px;
    }

    .Blue {
      position: relative;
      background-repeat: no-repeat;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: -17px;
        left: -5px;
        height: 100px;
        width: 130px;
        background-image: url(../../../Assets/Image/Blue.svg);
        background-repeat: no-repeat;
      }
    }

    .Yellow {
      white-space: nowrap;
      position: relative;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 3px;
        height: 100px;
        width: 300px;
        background-image: url(../../../Assets/Image/Yellow.svg);
        background-repeat: no-repeat;
      }
    }

    .Pink {
      white-space: nowrap;
      position: relative;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 3px;
        height: 100px;
        width: 300px;
        background-image: url(../../../Assets/Image/Pink.svg);
        background-repeat: no-repeat;
      }
    }

    & .ParaTitle {
      font-weight: 700;
      color: #15186d;
      font-size: 28px;
      margin-bottom: 50px;
    }

    & .AboutParagraphContainer {
      margin-top: 80px;

      & .SubParaTitle {
        font-size: 28px;
        font-weight: 700;
        color: #15186d;
      }

      & .ContentContainer {
        display: flex;
        flex-direction: row;

        & .leftContent {
          padding-right: 10px;
          width: 30%;
        }

        & .RightContent {
          font-size: 14px;

          width: 70%;

          p:first-child {
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.AboutContainerDisabled {
  opacity: 0;
}
