.WorkContainer {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: all 0.4s ease;
  color: #15186d;
  font-weight: 300;
  & .WorkContentContainer {
    margin: 160px auto;
    & .TitleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Lobster';
      color: #171caf;
      font-size: 64px;
      & p {
        margin: 32px 0;
      }
    }
    & .ContentLabel {
      font-family: 'Poppins';
      color: #171caf;
      font-size: 18px;
    }
    & .ProjectContainer {
      & .WorkImg {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & img {
          width: 50vw;
          transition: all 0.3s ease;
        }

        & .CoverText {
          opacity: 0;
          width: 25%;
          color: #fff;
          /* Position the tooltip */
          position: absolute;
          top: 40%;
          left: 30%;
          z-index: 1;
          font-weight: 700;
          font-size: 18px;
        }
        a:not(:focus):hover .CoverText {
          opacity: 1;
          transition: all 0.3s ease;
        }
        a:not(:focus):hover .CoverImg {
          filter: grayscale(50%) brightness(20%);
          transition: filter 0.3s ease;
        }
      }
      & .WorkImgBg {
        & img {
          width: 70vw;
          transition: all 1s ease;
        }
      }
    }

    & .NavigateButton {
      width: 70vw;
      margin: 160px auto 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .Label {
        color: #15186d;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;
      }
      & .CtaButton {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      & a {
        cursor: pointer;
        border: none;
        color: #15186d;
        border-radius: 2px;
        text-decoration: none;
        font-weight: 700;
        transition: all 0.4s ease;
        font-size: 18px;
      }
      & .Arrow {
        border: solid #15186d;
        border-width: 0 6px 6px 0;
        display: inline-block;

        padding: 12px;
        margin-left: -30px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      & .ArrowLine {
        display: inline-block;
        width: 0px;
        height: 6px;

        background-color: #15186d;

        transition: all 0.4s ease;
      }
      & .ArrowText {
        padding-right: 40px;
        transition: all 0.4s ease;
        font-size: 48px;
        font-weight: 700;
      }
      &:hover {
        & .ArrowLine {
          width: 100px;
        }
        & .ArrowText {
          padding-right: 20px;
          transition: all 0.4s ease;
        }
      }
    }
  }
}
.WorkContainerDisabled {
  opacity: 0;
}
@media only screen and (max-width: 850px) {
  .WorkContainer {
    & .WorkContentContainer {
      & .ProjectContainer {
        & .WorkImg {
          & img {
            width: 75vw;
          }
          & .CoverText {
            width: 300px;
            font-weight: 700;
            font-size: 18px;
            top: 20%;
            left: 30%;
          }
        }
      }
    }
  }
}
