.WorkContainer {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: all 0.4s ease;
  color: #15186d;
  font-weight: 300;

  & .ProjectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .WorkImgBg {
      & img {
        width: 70vw;
        transition: all 0.8s ease;
      }
    }
    & .WorkImgSmall {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px auto 60px;
      & img {
        width: 60vw;
        transition: all 0.8s ease;
        margin-bottom: 60px;
      }
    }
    & .SupportSpace {
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        width: 70vw;
        margin: 40px 0px;
      }
    }

    & .SectionLine {
      height: 0.5em;
      width: 70vw;
      border-top: 1px solid #15186d;
      z-index: -1;
    }
    & .ContentContainer {
      display: flex;
      flex-direction: row;
      width: 70%;
      margin: 100px auto;

      & .LeftContent {
        padding-right: 10px;
        width: 40%;
        & .Label {
          color: #828282;
          margin-bottom: 0px;
          font-size: 14px;
          font-weight: 300;
        }
        & .Name {
          margin-top: 0px;
          font-size: 46px;
          font-weight: 700;
        }
        & .SubName {
          margin: 4px 0px;
          font-size: 18px;
          font-weight: 700;
        }
      }
      & .RightContent {
        width: 60%;
        & p {
          font-weight: 400;
          & a {
            color: #15186d;
          }
        }
        & li {
          font-weight: 400;
          line-height: 32px;
          margin-bottom: 12px;
        }
      }
    }
    & .NavigateButton {
      width: 70%;
      margin: 160px 0px 200px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & .Previous {
        background-color: #171caf;
        padding: 20px 50px;
        color: white;
        border-radius: 2px;
        text-decoration: none;
        font-weight: 700;
        transition: all 0.4s ease;
        &:hover {
          & .ArrowLine {
            width: 100px;
          }
          & .ArrowText {
            padding-left: 120px;
            transition: all 0.4s ease;
          }
        }
        & .Arrow {
          border: solid #fff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          margin-top: 2px;
          padding: 5px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
        & .ArrowLine {
          top: 31px;
          left: 50px;
          position: absolute;
          display: inline-block;
          width: 0px;
          height: 2px;
          background-color: #fff;
          z-index: 99;
          transition: all 0.4s ease;
        }
        & .ArrowText {
          padding-left: 10px;
          transition: all 0.4s ease;
        }
      }
      & .Next {
        background-color: #171caf;
        padding: 20px 50px;
        color: white;
        border-radius: 2px;
        text-decoration: none;
        font-weight: 700;
        transition: all 0.4s ease;

        & .Arrow {
          border: solid #fff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          margin-top: 2px;
          padding: 5px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
        & .ArrowLine {
          top: 31px;
          right: 50px;
          position: absolute;
          display: inline-block;
          width: 0px;
          height: 2px;
          background-color: #fff;
          z-index: 99;
          transition: all 0.4s ease;
        }
        & .ArrowText {
          padding-right: 10px;
          transition: all 0.4s ease;
        }
        &:hover {
          & .ArrowLine {
            width: 100px;
          }
          & .ArrowText {
            padding-right: 120px;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
}
.WorkContainerDisabled {
  opacity: 0;
}
@media only screen and (max-width: 850px) {
  .WorkContainer {
    & .ProjectContainer {
      .ContentContainer {
        display: flex;
        flex-direction: column;
        & .LeftContent {
          width: 100%;
        }
        & .RightContent {
          width: 100%;
        }
      }
      & .NavigateButton {
        width: 70%;
        margin: 160px 0px 200px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & .Previous {
          background-color: #171caf;
          padding: 20px 20px;
          color: white;
          border-radius: 2px;
          text-decoration: none;
          font-weight: 700;
          transition: all 0.4s ease;
          &:hover {
            & .ArrowLine {
              width: 0px;
            }
            & .ArrowText {
              padding-left: 0px;
              transition: all 0.4s ease;
            }
          }
          & .Arrow {
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            margin-top: 2px;
            padding: 5px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
          }
          & .ArrowLine {
            top: 31px;
            left: 50px;
            position: absolute;
            display: inline-block;
            width: 0px;
            height: 2px;
            background-color: #fff;
            z-index: 99;
            transition: all 0.4s ease;
          }
          & .ArrowText {
            padding-left: 10px;
            transition: all 0.4s ease;
          }
        }
        & .Next {
          background-color: #171caf;
          padding: 20px 20px;
          color: white;
          border-radius: 2px;
          text-decoration: none;
          font-weight: 700;
          transition: all 0.4s ease;

          & .Arrow {
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            margin-top: 2px;
            padding: 5px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
          & .ArrowLine {
            top: 31px;
            right: 50px;
            position: absolute;
            display: inline-block;
            width: 0px;
            height: 2px;
            background-color: #fff;
            z-index: 99;
            transition: all 0.4s ease;
          }
          & .ArrowText {
            padding-right: 10px;
            transition: all 0.4s ease;
          }
          &:hover {
            & .ArrowLine {
              width: 0px;
            }
            & .ArrowText {
              padding-right: 0px;
              transition: all 0.4s ease;
            }
          }
        }
      }
    }
  }
}
